<div>
    <div class="home-image">
        <img
            src="{{image}}"
            alt="Card image cap"
        />
    </div>
    <div class="info">
        <h4>D{{description}}</h4>
        <div class="info-buttons">
            <a class="btn details" href="/theater/{{_id}}/details">Details</a>
            <span class="likes">{{likedCount}} likes</span>
        </div>
    </div>
</div>