<div class="container">
    <div class="welcome">
        <h3>Welcome!</h3>
        <p>
            SoftUni forum is a place, where you can post your questions,
            comment, and discuss problems, which you have in your programming
            language or in your study in SoftUni.
        </p>
        <div class="logged" *ngIf="!isLogged">
            <ul >
                <li>
                    <a routerLink="/login">
                        <fa-icon class="faIcon" [icon]="icons.faSignInAlt"></fa-icon>
                        Login
                    </a>
                </li>
                <li>
                    <a routerLink="/register">
                        <fa-icon class="faIcon" [icon]="icons.faUserPlus"></fa-icon>
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
