.header {
    text-align: center;
    font-size: 3rem;
    background-color: #42a5f5;
    color: #fff;

    .nav {
        display: flex;
        justify-content: space-around;

        .item-wrap {
            display: flex;
            gap: 3rem;
            margin: 0;
        }

        li {
            list-style: none;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}

.time {
    font-size: 2rem;
    margin: 1rem;
}
