<app-header></app-header>

<main class="content">
  <router-outlet></router-outlet>
</main>
<!-- <button (click)="toggleActive()" [appHighlight]="isActive">Toggle active</button>
<ng-template #isActiveTemplate> IS ACTIVE - TRUE </ng-template>
<ng-template #isNotActiveTemplate> IS ACTIVE - FALSE </ng-template> -->

<!-- <ng-container *ngTemplateOutlet="isActive ? isActiveTemplate : isNotActiveTemplate"></ng-container>

<br> -->

<!-- <ng-template [appMyIf]="isActive"  let-data="data" let-test>
  <ng-container>
    {{data}}
    {{test}}
    IS ACTIVE - TRUE
  </ng-container>
</ng-template> -->

<!-- <ng-container *appMyIf="isActive; let test, let data=data">
  {{data}}
  {{test}}
  IS ACTIVE - TRUE
</ng-container> -->

<app-footer></app-footer>
