<form [formGroup]="form" class="register" action="" method="post" (ngSubmit)="register()">
    <fieldset>
        <h2>Registration Form</h2>

        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span>
                    <fa-icon class="faIcon" [icon]="icons.faUser"></fa-icon>
                </span></label>
            <input class="input-error" type="text" name="username" id="username" placeholder="Johny"
                formControlName="username" />
        </p>
        <ng-container *ngIf="form.get('username')?.touched">
            <p *ngIf="form.get('username')?.errors?.['required']" class="error">
                Username is required!
            </p>
            <p *ngIf="form.get('username')?.errors?.['minlength']" class="error">
                Username must be long at 6 characters!
            </p>
        </ng-container>

        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span>
                    <fa-icon class="faIcon" [icon]="icons.faEnvelope"></fa-icon>
                </span></label>
            <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" formControlName="email" />
        </p>
        <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="form.get('email')?.errors?.['invalidEmail']">
                Email is not valid!
            </p>
        </ng-container>

        <!-- telephone -->
        <p class="field field-icon">
            <label for="tel"><span>
                    <fa-icon class="faIcon" [icon]="icons.faPhone"></fa-icon>
                </span></label>
            <select name="select-tel" id="select-tel" class="tel">
                <option value="00359">+359</option>
            </select>
            <input type="text" name="tel" id="tel" placeholder="885 888 888" formControlName="tel" />
        </p>

        <!-- password -->
        <p class="field field-icon">
            <label for="password"><span>
                    <fa-icon class="faIcon" [icon]="icons.faLock"></fa-icon>
                </span></label>
            <input type="password" name="password" id="password" placeholder="******" formControlName="password" />
        </p>
        <ng-container *ngIf="form.get('password')?.touched">
            <p class="error" *ngIf="form.get('password')?.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
                Password must be at least 4 characters!
            </p>
        </ng-container>

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span>
                    <fa-icon class="faIcon" [icon]="icons.faLock"></fa-icon>
                </span></label>
            <input type="password" name="rePassword" id="rePassword" placeholder="******"
                formControlName="rePassword" />
        </p>
        <ng-container *ngIf="form.get('rePassword')?.touched">
            <p *ngIf="form.get('rePassword')?.errors?.['required']" class="error">Repeat Password is required!</p>
            <p *ngIf="form.get('rePassword')?.errors?.['sameValue']" class="error">Repeat Password don't match!</p>
        </ng-container>

        <button>Create Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>
    </fieldset>
</form>
