.wrapper {
    height: 92vh;
    background-color: rgb(212, 209, 192);
}
.loginTitle {
    padding-top: 50px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.loginForm{ 
       
    max-width: 70vh;
    margin: 50px auto ;
}

