<main>
    <form action="/cats/add-cat" method="POST" class="cat-form">
        <h2>Register</h2>
        <label for="username">Username</label>
        <input name="username" type="text" id="name"> 

        <label for="password">Password</label>
        <input name="password" type="password">

        <label for="repeatPassword">Repeat Password</label>
        <input name="repeatPassword" type="password">
                
        <button type="submit">Add Cat</button>
    </form>
</main>
