@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body, html {
    width: 800px;
    margin: auto;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, 
h2 {    
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}


.first {
    list-style: square;
}

.secund {
    list-style: inside;
}
.third {
    list-style: circle;
}





