<main>
    <section class="cats">
        <ul>
            {{#each cats}}
                {{> cat}}
            {{else}}
                <p>No result to show</p>
            {{/each}} 
        </ul>
    </section>
</main>

