button {
    cursor: pointer;
    color: #fff;
    background-color: #00c9a7;
    border: none;
    padding: 8px 14px;
    margin-right: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 1px;

    &:hover {
        background-color: #00c2a8;
    }
}

.back{
    background-color: #A7354D;

    &:hover {
        background-color: #C55065;
    }
}

