<div class="card mb-4">
    <img
        class="card-img-top"
        src="{{image}}"
        alt="Card image cap"
        width="400"
    />
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-footer">
        <a href="/course/{{_id}}/details"
            ><button type="button" class="btn btn-primary">
                Details
            </button></a
        >
        <small class="float-right">{{time}}</small>
    </div>
</div>