<main>
  <form action="/add-vehicle" method="POST" class="cat-form" enctype="multipart/form-data">
    <h2>Add Vehicle</h2>
    <label for="name">Name</label>
    <input name="name" type="text" id="name" />
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
    <label for="image">Image</label>
    <input name="upload" type="file" id="image" />
    <label for="group">Type</label>
    <select name="type" id="group">
          {{type}}
    </select>
    <button type="submit">Add Vehicle</button>
  </form>
</main>
