<main>
  <form action="/bey-vehicle?id={{_id}}" method="POST" class="cat-form">
    <h2>Bey Vehicle</h2>
    <img
      src={{imageUrl}}
      alt="image.png"
    />
    <label for="model">Model</label>
    <input type="text" id="model" value={{model}} disabled />
    <label for="price">Price</label>
    <input type="text" id="price" value={{price}} disabled />
    <label for="description">Description</label>
    <textarea id="description" disabled>{{description}}</textarea>
    <label for="group">Type</label>
    <select id="group" disabled>
      {{type}}
    </select>
    <button>BEY VEHICLE</button>
  </form>
</main>
