<main>
  <form action="#" method="" class="cat-form" enctype="multipart/form-data">
    <h2>Edit Vehicle</h2>
    <label for="name">Model</label>
    <input type="text" id="name" value="Pretty Cat" />
    <label for="description">Description</label>
    <textarea id="description">
      Dominant and aggressive to other cats. Will probably eat you in your sleep. Very cute tho.</textarea
    >
    <label for="image">Image</label>
    <input type="file" id="image" />
    <label for="group">Breed</label>
    <select id="group">
      <option value="Fluffy Cat">Car</option>
    </select>
    <button>Edit Vehicle</button>
  </form>
</main>
