<main>
  <form action="/edit-vehicle?id={{_id}}" method="POST" class="cat-form" enctype="multipart/form-data">
    <h2>Edit Vehicle</h2>
    <label for="name">Model</label>
    <input name="model" type="text" id="name" value={{model}} />
    <label for="name">Price</label>
    <input name="price" type="text" id="name" value={{price}} />
    <label for="description">Description</label>
    <textarea name="description" id="description">{{description}}</textarea>
    <label for="image">Image</label>
    <input name="upload" type="file" id="image" accept=".jpg,.jpeg,.png" />
    <label for="group">Type</label>
    <select name="type" id="group">
      {{type}}
    </select>
    <button type="submit">Edit Vehicle</button> 
  </form>
</main>
