.nav-wrap {
    border-radius: 8px;
    border: 2px solid #000;

    nav {
        display: flex;
        font-size: 3rem;

        a {
            text-decoration: none;
            flex: 1;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            border-radius: 12px;
            color: #fff;
            background-color: #00c9a7;
        }

        .active {
            background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
        }
    }
}
