body {
    width: 480px;
    background-color: #f9f7cf;
}



header {
    padding: 15px 5px 15px;
    background-color: #f2dcbb;
}

footer{
    padding: 15px 5px 15px;
    background-color: #f2dcbb;
}

