<div class="container">
  <h1>ABOUT US:</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis
    a vel nostrum assumenda provident tempora quam ut magni culpa dignissimos
    corporis eius, ullam veniam sequi ipsa debitis id accusamus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis
    a vel nostrum assumenda provident tempora quam ut magni culpa dignissimos
    corporis eius, ullam veniam sequi ipsa debitis id accusamus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis
    a vel nostrum assumenda provident tempora quam ut magni culpa dignissimos
    corporis eius, ullam veniam sequi ipsa debitis id accusamus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis
    a vel nostrum assumenda provident tempora quam ut magni culpa dignissimos
    corporis eius, ullam veniam sequi ipsa debitis id accusamus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis
    a vel nostrum assumenda provident tempora quam ut magni culpa dignissimos
    corporis eius, ullam veniam sequi ipsa debitis id accusamus.
  </p>
</div>
