<article class="content-publication">
        <h1>Title: {{title}}</h1>
        <p>Number of people shared the publication: 0</p>
        <a href="/publication/details/{{_id}}" class="image-details">View publication</a>
</article> 